<div class="relative">
  <ng-select [formControl]="control"  class="w-full dark:text-bodydark1 text-black rounded-lg border border-gray-300 bg-transparent py-[0.36rem] px-2 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary ng-pristine ng-invalid ng-touched">
  @for (item of users; track item.user_pk_id) {
      <ng-option  [value]="item.user_pk_id">{{item.name+" "+item.last_name}}</ng-option>
  }
</ng-select>
  <label
      class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">{{title}}
  </label>
</div>




