<input type="text" (click)="OpenEmployeesList()" [(ngModel)]="employe_name"  (keyup.enter)="AddManually()"
    class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
<div *ngIf="is_open_employees_list"
    class="search-tag mt-2 bg-white dark:bg-form-input dark:text-bodydark1 text-black  border border-gray-300 rounded-lg shadow-md max-h-59 overflow-y-auto">
    <div (click)="AddFromList(item.user_pk_id,item.fname,item.lname)"
        *ngFor="let item of employees_list | filter: this.employe_name"
        class="px-4 py-2 cursor-pointer hover:bg-stroke flex items-center gap-x-2 dark:hover:bg-black text-black dark:text-white">
        <img src="https://ieltsdaily.ir/static/img/users/{{item.image}}"
            class="w-10 rounded-full border border-graydark" alt="">
        <span class="text-sm font-semibold">{{item.fname}} {{item.lname}}</span>
    </div>
</div>
<div *ngIf="added_employee_array.length>0"
    class="w-full flex items-center gap-2 mt-4 p-2 flex-wrap max-h-34 overflow-y-auto border-[1.5px] border-stroke dark:border-form-strokedark rounded-md">
    <div *ngFor="let item of added_employee_array;let i = index"
        class=" flex text-center justify-between text-black dark:text-white rounded-sm px-3 py-1 bg-bodydark1 dark:bg-black ">
        <button>
            <svg (click)="RemoveEmployeeArray(i)"
                class="w-8  pl-2 fill-body hover:fill-black dark:fill-bodydark dark:hover:fill-bodydark1 mx-auto cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                    d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z">
                </path>
            </svg>
        </button>
        <span>{{item}}</span>
    </div>
</div>
