<section class="bg-gray-100 h-screen  flex overflow-hidden items-center justify-center">
  <div class="lg:w-5/12 w-full lg:mx-0 mx-8">
    <div
      class="lg:w-3/5 w-full flex flex-col items-center justify-center bg-white rounded-lg shadow px-8 py-14 mx-auto border border-gray-300">
      <div class=" flex items-center justify-center w-full relative">
        <img class="w-32 " src="/assets/images/logo.webp" alt="logo">
        <button class="absolute left-0 p-2 cursor-pointer" *ngIf="!this.IsSigninStep" (click)="ComingBack()">
          <img src="/assets/images/icon/right-arrow.svg" class="w-10" alt="">
        </button>
      </div>

      <div class="space-y-4 md:space-y-6 mt-6 w-full">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
          ورود | ثبت نام
        </h1>
        <form [formGroup]="ReportForm" *ngIf="IsSigninStep" class="space-y-4 md:space-y-6">
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> لطفا شماره موبایل یا ایمیل خود
              را وارد کنید
              <span
                *ngIf="(this.ReportForm.controls.mobile_number.invalid ) && (this.ReportForm.controls.mobile_number.touched || this.ReportForm.controls.mobile_number.dirty)"
                class="text-red-700 text-xl  self-start ">*</span>
            </label>
            <input type="text" formControlName="mobile_number"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <button [disabled]="this.ReportForm.invalid || btnLoadingSignIn" (click)="this.onSubmit()"
            class="w-full flex items-center justify-center gap-x-3 text-white  bg-cyan-600 font-semibold hover:bg-cyan-700  rounded-lg text-lg px-5 py-3 text-center ">
            <span *ngIf="!this.btnLoadingSignIn">ورود</span>
            <div *ngIf="this.btnLoadingSignIn"
              class="animate-spin inline-block w-6 h-6 border-[3px] border-white border-t-transparent text-gray-800 rounded-full ">
            </div>
          </button>
        </form>

        <form *ngIf="IsTwoStep" [formGroup]="TwoStepForm" class="space-y-4 md:space-y-6">
          <div *ngIf="IOtpResponse?.has_account" role="alert" class="alert my-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="stroke-info h-6 w-6 shrink-0">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>کد تایید برای شماره <b> {{ this.ReportForm.controls.mobile_number.value }} </b> پیامک شد</span>
          </div>
          <div *ngIf="!IOtpResponse?.has_account" role="alert" class="alert my-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="stroke-info h-6 w-6 shrink-0">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span class="text-justify">
              حساب کاربری با شماره موبایل<b> {{ this.ReportForm.controls.mobile_number.value }} </b> وجود ندارد. برای ساخت حساب
              جدید، کد تایید برای این شماره ارسال گردید.
            </span>
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> لطفا کد تایید را وارد کنید
              <span
                *ngIf="(this.TwoStepForm.controls.code.invalid ) && (this.TwoStepForm.controls.code.touched || this.TwoStepForm.controls.code.dirty)"
                class="text-red-700 text-xl  self-start ">*</span>
            </label>
            <input (input)="CheckOtpInput($event)" type="text" formControlName="code" placeholder="کد را وارد نمایید"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <button [disabled]="this.TwoStepForm.invalid || btnLoadingTwostep" (click)="this.TwoStepSubmit()"
            class="w-full flex items-center justify-center gap-x-3 text-white  bg-cyan-600 font-semibold hover:bg-cyan-700  rounded-lg text-lg px-5 py-3 text-center ">
            <span *ngIf="!this.btnLoadingTwostep">ادامه</span>
            <div *ngIf="this.btnLoadingTwostep"
              class="animate-spin inline-block w-6 h-6 border-[3px] border-white border-t-transparent text-gray-800 rounded-full ">
            </div>
          </button>
          <div *ngIf="!this.counter_end;else EndTimeContent" class="flex items-center justify-center gap-x-4">
            <span>زمان باقی‌مانده تا ارسال مجدد رمز</span>
            <div class="text-blue-700 font-semibold flex items-center">
              {{counter | formatTime}}
            </div>
          </div>
          <ng-template #EndTimeContent>
            <div class="flex items-center justify-center gap-x-4">
              <span>رمز را دریافت نکرده‌اید؟</span>
              <button (click)="ResendPassword()" class="text-blue-600 font-semibold">ارسال مجدد رمز</button>
            </div>
          </ng-template>
          <div *ngIf="IOtpResponse?.has_account"  class="flex items-center justify-center gap-x-4">
            <button (click)="SignInWithPassword()" class="text-blue-600 font-semibold"> ورود با رمز عبور</button>
          </div>
        </form>

        <form [formGroup]="SignInWithPasswordForm" *ngIf="IsSigningWithPassword" class="space-y-4 md:space-y-6">
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> نام کاربری</label>
            <input type="text" formControlName="username"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> رمز عبور</label>
            <input type="password" formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <button [disabled]="this.SignInWithPasswordForm.invalid || btnLoadingSigninPassword" (click)="this.SubmitWithPassword()"
            class="w-full flex items-center justify-center gap-x-3 text-white  bg-cyan-600 font-semibold hover:bg-cyan-700  rounded-lg text-lg px-5 py-3 text-center ">
            <span *ngIf="!this.btnLoadingSigninPassword">ورود</span>
            <div *ngIf="this.btnLoadingSigninPassword"
              class="animate-spin inline-block w-6 h-6 border-[3px] border-white border-t-transparent text-gray-800 rounded-full ">
            </div>
          </button>
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-end">
              <a href="#" class="text-sm font-medium text-sky-700 hover:underline ">فراموشی رمز</a>
            </div>
            <div class="flex items-center justify-center gap-x-4">
              <button (click)="SignInWithCode()" class="text-blue-600 font-semibold"> ورود با کد پیامک </button>
            </div>

          </div>
        </form>
        <form *ngIf="IsSignupStep" [formGroup]="this.SignUpForm" class="space-y-4 md:space-y-6">
          <div>
            <h3 class="text-lg font-medium mb-4">اطلاعات تکمیلی زیر را وارد نمایید</h3>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> شماره همراه </label>
            <input type="text" formControlName="mobile_number"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> ایمیل</label>
            <input type="text" formControlName="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> رمز عبور</label>
            <input type="password" formControlName="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> نام </label>
            <input type="text" formControlName="fname"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> نام خانوادگی </label>
            <input type="text" formControlName="lname"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>

          <button [disabled]="this.SignUpForm.invalid || btnLoadingSignUp" (click)="this.SignupSubmit()"
            class="w-full flex items-center justify-center gap-x-3 text-white  bg-cyan-600 font-semibold hover:bg-cyan-700  rounded-lg text-lg px-5 py-3 text-center ">
            <span *ngIf="!this.btnLoadingSignUp">ادامه</span>
            <div *ngIf="this.btnLoadingSignUp"
              class="animate-spin inline-block w-6 h-6 border-[3px] border-white border-t-transparent text-gray-800 rounded-full ">
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="w-7/12 relative h-screen hidden lg:block">
    <img src="/assets/images/login/Vector-1.webp" class="lines-login">
    <img src="/assets/images/login/Vector-2.webp" class="lines-login">
    <img src="/assets/images/login/Vector-3.webp" class="lines-login">
    <img src="/assets/images/login/Vector-6.webp" class="lines-login">
    <img src="/assets/images/login/bg-login.webp" class=" bg-login">
    <img src="/assets/images/login/images-in.webp" class="left-0 top-[25%] absolute w-[65%]">
  </div>
</section>
