<div class="breadcrumb flex justify-between items-center px-5 mb-3 bg-white rounded-lg font-semibold">
    <nav>
        <ol class="flex items-center gap-1 text-sm py-2">
            <li>
                <span>دوره ها</span>
            </li>
        </ol>
    </nav>
    <div class="flex items-center gap-x-7 pt-2">
        <a *ngFor="let item of CourseTypeData" (click)="GetResponseData(1,10,order,item.course_type_name)"  class="py-3 cursor-pointer   text-gray-600"
        [ngClass]="{'border-cyan-600  !text-cyan-600 border-b': (is_active_course_type==item.course_type_name) }"
        >
          {{item.course_type_name}}</a>
    </div>
    <div class="icon flex items-center gap-x-2 py-2">
        <a [routerLink]="['/basic/course/add']"
            class="text-cyan-600 border border-cyan-600 px-4 py-2 rounded-md p-2  bg-white  ">افزودن</a>
        <button (click)="OpenSettins()" class="relative text-cyan-600  px-3 py-2 rounded-md  p-2  bg-white ">
            <img src="/assets/images/icon/setting.svg" class="w-5" alt="">
            <div *ngIf="isOpenSettins"  class="fixed shadow-lg top-32 left-5  h-max p-2 text-gray-800 bg-white border border-zinc-200 rounded-lg flex flex-col gap-2">
                <a [routerLink]="['/basic/course-tag']" class=" hover:bg-zinc-100 rounded-lg p-2 w-44">
                    برچسب
                </a>
                <a [routerLink]="['/basic/course-category']" class=" hover:bg-zinc-100 rounded-lg p-2 w-44">
                    دسته بندی
                </a>
                <a [routerLink]="['/basic/course-language']" class=" hover:bg-zinc-100 rounded-lg p-2 w-44">
                    زبان
                </a>
                <a [routerLink]="['/basic/course-type']" class=" hover:bg-zinc-100 rounded-lg p-2 w-44">
                    نوع دوره
                </a>
            </div>
        </button>
    </div>
</div>
<app-loading *ngIf="isLoading;else otherContent" ></app-loading>
<ng-template #otherContent>
<main>
  <div *ngIf="ResponseDataList.length<1" class="alert flex bg-blue-100 rounded-lg p-4 mb-4 text-sm text-blue-700 gap-x-2" role="alert">
    <svg class="w-6 h-6 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        <span class="text-lg font-semibold">در حال حاضر رکوردی ثبت نشده است</span>
</div>
    <div class="courses flex flex-col gap-y-4 text-sm">
        <div *ngFor="let item of ResponseDataList" class="course-item rounded-lg  bg-white p-5 flex flex-col">
            <div class="flex items-center justify-between border-b py-4">
                <div class="flex items-center gap-x-3">
                    <img src="/assets/images/sample/course.svg" class="w-16" alt="">
                    <div class="flex flex-col gap-y-1">
                        <span class="font-semibold">{{item.course_name}}</span>
                        <span [innerHTML]="item.description" class="text-sm"></span>
                    </div>
                </div>
                <div class="flex items-center gap-x-4">
                    <span class="bg-gray-200 px-2 py-1 flex items-center gap-x-2 rounded-md">
                        <span class="pt-1 font-medium">italy</span>
                        <img src="/assets/images/icon/italy.svg" class="w-4" alt="">
                    </span>
                    <div *ngIf="item.status==0" class="flex items-center gap-x-2">
                        <img src="/assets/images/icon/folder.svg" class="w-5" alt="">
                        <span class="pt-1 font-medium">پیشنویس</span>
                    </div>
                    <div *ngIf="item.status==1" class="flex items-center gap-x-2">
                        <img src="/assets/images/icon/clock.svg" class="w-5" alt="">
                        <span class="pt-1 font-medium text-amber-500">در انتظار تایید</span>
                    </div>
                    <div *ngIf="item.status==2" class="flex items-center gap-x-2">
                        <img src="/assets/images/icon/clock2.svg" class="w-5 fill-blue-600" alt="">
                        <span class="pt-1 font-medium text-blue-600">در حال ثبت نام</span>
                    </div>
                    <img (click)="OpenShowMore(item.course_pk_id)" src="/assets/images/icon/show-more.svg"
                        class="w-6 cursor-pointer">
                    <div *ngIf="ShowMoreItem==item.course_pk_id"
                        class="absolute left-[4.7rem] z-10 mt-[9.8rem]   origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="py-1 text-xs font-semibold text-gray-800" role="none">
                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                            <a [routerLink]="['/basic/course/edit',item.course_pk_id]" class="block px-4 py-2 cursor-pointer">ویرایش</a>
                            <a (click)="OpenModal(item.course_pk_id)" class="block px-4 py-2 cursor-pointer">مشاهده</a>
                            <a (click)="RemoveItem(item.course_pk_id)"
                                class="text-red-600 block px-4 py-2 cursor-pointer">حذف</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between border-b py-4 font-medium">
                <div class="flex items-center gap-x-3">
                    <img src="/assets/images/icon/video.svg" class="w-5" alt="">
                    <span>تعداد جلسات</span>
                </div>
                <span> <span>14</span> جلسه</span>
            </div>
            <div class="flex items-center justify-between border-b py-4 font-medium">
                <div class="flex items-center gap-x-3">
                    <img src="/assets/images/icon/calendar.svg" class="w-5" alt="">
                    <span> روزهای کلاس</span>
                </div>
                <div class="flex items-center gap-x-3">
                    <span>شنبه: 12:00</span>
                    <img src="/assets/images/icon/line.svg" class="fill-gray-500">
                    <span>دوشنبه: 14:00</span>
                    <img src="/assets/images/icon/line.svg" class="fill-gray-500">
                    <span>چهارشنبه: 14:00</span>
                </div>
            </div>
            <div class="flex items-center justify-between  pt-4 pb-1 font-medium">
                <div class="flex items-center gap-x-3">
                    <img src="/assets/images/icon/user.svg" class="w-5" alt="">
                    <span> ظرفیت دوره</span>
                </div>
                <span> <span>{{item.course_capacity}}</span> نفر</span>
            </div>
        </div>
        <!-- <a href="/basic/course/add" class="bg-teal-500 p-2 rounded-full w-14 h-14 text-center shadow-md items-center justify-center flex fixed bottom-0 right-4">
            <img src="/assets/images/icon/plus.svg" class="w-8 fill-white" alt="">
        </a> -->
    </div>
    <div *ngIf="IsShowenModal==true"
        class="fixed left-0 top-0 z-999999 flex h-full min-h-screen w-full items-center justify-center bg-black/60 px-4 py-5 text-graydark dark:text-white">
        <div class="flex flex-col w-full mx-12 lg:mr-[19rem]  rounded-lg bg-white px-8 py-12 text-center dark:bg-boxdark text-graydark dark:text-white">
            <div class="header flex items-center justify-between text-lg font-semibold">
              <span>{{SingleData.course_name }}</span>
              <span class="text-teal-700">شروع شده</span>
            </div>
            <div class="main mt-4">
              <div class="flex items-center justify-between gap-x-2">
                <div class="w-full bg-rose-100 flex items-center justify-between p-3 rounded-lg">
                  <div class="flex items-center gap-x-4">
                    <img src="/assets/images/icon/course_users.svg" alt="">
                    <div class="flex flex-col gap-y-2">
                      <span class="font-semibold text-rose-600"> <span class="pl-1">14</span>نفر</span>
                      <span>ثبت نام کرده ها</span>
                    </div>
                  </div>
                  <div>
                    <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 15.5C8 15.5 1 11.356 1 8.5C1 5.645 8 1.5 8 1.5" stroke="#FD849F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                  </div>
                </div>
                <div class="w-full bg-purple-100 flex items-center justify-between p-3 rounded-lg">
                  <div class="flex items-center gap-x-4">
                    <img src="/assets/images/icon/course_money.svg" alt="">
                    <div class="flex flex-col gap-y-2">
                      <span class="font-semibold text-purple-600"> <span class="pl-1">25000</span>تومان</span>
                      <span>هزینه های پرداخت شده</span>
                    </div>
                  </div>
                  <div>
                    <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 15.5C8 15.5 1 11.356 1 8.5C1 5.645 8 1.5 8 1.5" stroke="#D2A6FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>

                  </div>
                </div>

                <div class="w-full bg-amber-100 flex items-center justify-between p-3 rounded-lg">
                  <div class="flex items-center gap-x-4">
                    <img src="/assets/images/icon/course_calander.svg" alt="">
                    <div class="flex flex-col gap-y-2">
                      <span class="font-semibold text-amber-600"> <span class="pl-1">4/16</span>جلسه</span>
                      <span>میزان پیشرفت</span>
                    </div>
                  </div>
                  <div>
                    <svg width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 15.5C8 15.5 1 11.356 1 8.5C1 5.645 8 1.5 8 1.5" stroke="#FCC179" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>

                  </div>
                </div>

              </div>
              <div class="flex items-start justify-between gap-x-2 mt-3">
                <div class="w-full bg-gray-100 flex p-3 rounded-lg  flex-col gap-y-4">
                  <div class="flex items-start justify-start gap-x-2">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.25 12.5C21.25 19.437 18.937 21.75 12 21.75C5.063 21.75 2.75 19.437 2.75 12.5C2.75 5.563 5.063 3.25 12 3.25C18.937 3.25 21.25 5.563 21.25 12.5Z" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.3945V12.4995" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12.0045 9H11.9955" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    <span class="font-semibold">معرفی دوره</span>
                  </div>
                  <div>
                    <img src="/assets/images/course_test.svg" alt="">
                  </div>
                  <div class="flex font-semibold">
                    <span>{{SingleData.course_name }}</span>
                  </div>
                  <div class="flex">
                    <p [innerHTML]="SingleData.description"></p>
                  </div>
                </div>
                <div class="w-full bg-gray-100 flex p-3 rounded-lg  flex-col gap-y-4">
                  <div class="flex items-start justify-start gap-x-2">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.25 12.5C21.25 19.437 18.937 21.75 12 21.75C5.063 21.75 2.75 19.437 2.75 12.5C2.75 5.563 5.063 3.25 12 3.25C18.937 3.25 21.25 5.563 21.25 12.5Z" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 16.3945V12.4995" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12.0045 9H11.9955" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    <span class="font-semibold">اطلاعات کلی دوره</span>
                  </div>
                  <div class="flex flex-col gap-y-4 mt-3">
                    <div class="flex items-center justify-between border-b pb-3">
                        <span>نوع دوره</span>
                        <span>{{SingleData.course_type}}</span>
                    </div>
                    <div class="flex items-center justify-between border-b pb-3">
                        <span> زبان</span>
                        <span>{{SingleData.course_language}}</span>
                    </div>
                    <div class="flex items-center justify-between border-b pb-3">
                        <span> قیمت دوره</span>
                        <span>580000 تومان</span>
                    </div>
                    <div class="flex items-center justify-between border-b pb-3">
                        <span>ظرفیت دوره</span>
                        <span>{{SingleData.course_capacity }} نفر</span>
                    </div>
                    <div class="flex items-center justify-between border-b pb-3">
                        <span> پرداخت اقساطی</span>
                        <span>6 ماهه</span>
                    </div>
                    <div class="flex items-center justify-between border-b pb-3">
                        <span> قابلیت پرداخت چکی</span>
                        <span>ندارد</span>
                    </div>
                    <div class="flex items-center justify-between ">
                        <span> مدرسین</span>
                        <span>3 نفر</span>
                    </div>
                  </div>
                </div>
                <div class="w-full bg-gray-100 flex p-3 rounded-lg  flex-col gap-y-4">
                    <div class="flex items-start justify-start gap-x-2">
                      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.25 12.5C21.25 19.437 18.937 21.75 12 21.75C5.063 21.75 2.75 19.437 2.75 12.5C2.75 5.563 5.063 3.25 12 3.25C18.937 3.25 21.25 5.563 21.25 12.5Z" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 16.3945V12.4995" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.0045 9H11.9955" stroke="#696984" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      <span class="font-semibold"> تقویم</span>
                    </div>
                    <div class="flex">
                      <p [innerHTML]="">یک متن تستی</p>
                    </div>
                  </div>

              </div>
            </div>
            <div class="footer flex items-end justify-end border-t py-3 border-[#b1b1b1] mt-6">
                <button (click)="CloseModal()"
                    class="block  rounded border border-stroke bg-stroke hover:bg-bodydark1 font-semibold px-6 py-3 text-center  text-black-2 transition   dark:border-strokedark dark:bg-meta-4 dark:text-white">
                    بستن
                </button>
            </div>
        </div>
    </div>
</main>
</ng-template>
