<div class="breadcrumb flex justify-between items-center px-5 mb-3 bg-white rounded-lg font-semibold">
    <nav>
        <ol class="flex items-center gap-1 text-sm py-2">
            <li>
                <span>دوره ها</span>
            </li>
        </ol>
    </nav>
    <div class="flex items-center gap-x-7 pt-2">
        <a href="" class="py-3 border-b border-cyan-600  text-cyan-600">آنلاین</a>
        <a href="" class="py-3">آفلاین</a>
        <a href="" class="py-3">حضوری</a>
    </div>
    <div class="icon flex items-center gap-x-2 py-2">
        <a [routerLink]="['/basic/course/add']"
            class="text-cyan-600 border border-cyan-600 px-4 py-2 rounded-md p-2  bg-white  ">افزودن</a>
        <button (click)="OpenSettins()" class="relative text-cyan-600  px-3 py-2 rounded-md  p-2  bg-white ">
            <img src="/assets/images/icon/setting.svg" class="w-5" alt="">
            <div *ngIf="isOpenSettins"  class="absolute shadow-lg top-12 left-0  h-max p-2 text-gray-800 bg-white border border-zinc-200 rounded-lg flex flex-col gap-2">
                <a [routerLink]="['/basic/course-tag']" class=" hover:bg-zinc-100 rounded-lg p-2 w-44">
                    برچسب
                </a>
                <a [routerLink]="['/basic/course-category']" class=" hover:bg-zinc-100 rounded-lg p-2 w-44">
                    دسته بندی
                </a>
                <a [routerLink]="['/basic/course-language']" class=" hover:bg-zinc-100 rounded-lg p-2 w-44">
                    زبان
                </a>
                <a [routerLink]="['/basic/course-type']" class=" hover:bg-zinc-100 rounded-lg p-2 w-44">
                    نوع دوره
                </a>
            </div>
        </button>
    </div>
</div>
<div class="loading flex justify-center my-10 w-full" *ngIf="isLoading">
    <div class="animate-spin">
        <svg width="49" height="50" viewBox="0 0 49 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-inside-1_1881_16179" fill="white">
                <path
                    d="M18.5503 49.3989C23.2997 50.4597 28.2554 50.1113 32.8097 48.3965C37.364 46.6816 41.3187 43.6748 44.1889 39.7449C47.0591 35.815 48.7199 31.1328 48.9676 26.2727C49.2153 21.4125 48.0392 16.5858 45.5834 12.3844C43.1277 8.18304 39.4991 4.78974 35.1428 2.62071C30.7865 0.451685 25.8918 -0.398759 21.0592 0.173693C16.2265 0.746144 11.666 2.7166 7.93703 5.84338C4.20803 8.97015 1.47267 13.1173 0.0664691 17.7761L5.29059 19.353C6.38986 15.711 8.52815 12.4691 11.4432 10.0248C14.3582 7.58057 17.9233 6.04021 21.7011 5.59272C25.4789 5.14522 29.3052 5.81003 32.7106 7.50561C36.116 9.20119 38.9526 11.8538 40.8723 15.1381C42.792 18.4224 43.7114 22.1956 43.5178 25.9949C43.3241 29.7942 42.0258 33.4543 39.7822 36.5264C37.5385 39.5986 34.4469 41.949 30.8868 43.2896C27.3266 44.6302 23.4525 44.9025 19.7398 44.0732L18.5503 49.3989Z">
                </path>
            </mask>
            <path
                d="M18.5503 49.3989C23.2997 50.4597 28.2554 50.1113 32.8097 48.3965C37.364 46.6816 41.3187 43.6748 44.1889 39.7449C47.0591 35.815 48.7199 31.1328 48.9676 26.2727C49.2153 21.4125 48.0392 16.5858 45.5834 12.3844C43.1277 8.18304 39.4991 4.78974 35.1428 2.62071C30.7865 0.451685 25.8918 -0.398759 21.0592 0.173693C16.2265 0.746144 11.666 2.7166 7.93703 5.84338C4.20803 8.97015 1.47267 13.1173 0.0664691 17.7761L5.29059 19.353C6.38986 15.711 8.52815 12.4691 11.4432 10.0248C14.3582 7.58057 17.9233 6.04021 21.7011 5.59272C25.4789 5.14522 29.3052 5.81003 32.7106 7.50561C36.116 9.20119 38.9526 11.8538 40.8723 15.1381C42.792 18.4224 43.7114 22.1956 43.5178 25.9949C43.3241 29.7942 42.0258 33.4543 39.7822 36.5264C37.5385 39.5986 34.4469 41.949 30.8868 43.2896C27.3266 44.6302 23.4525 44.9025 19.7398 44.0732L18.5503 49.3989Z"
                stroke="#3C50E0" stroke-width="14" mask="url(#path-1-inside-1_1881_16179)"></path>
        </svg>
    </div>
</div>
<main class="h-screen overflow-y-auto">
    <div class="courses flex flex-col gap-y-4 text-sm">
        <div *ngFor="let item of ResponseDataList" class="course-item rounded-lg  bg-white p-5 flex flex-col">
            <div class="flex items-center justify-between border-b py-4">
                <div class="flex items-center gap-x-3">
                    <img src="/assets/images/sample/course.svg" class="w-16" alt="">
                    <div class="flex flex-col gap-y-1">
                        <span class="font-semibold">{{item.course_name}}</span>
                        <span class="text-sm">{{item.description}}</span>
                    </div>
                </div>
                <div class="flex items-center gap-x-4">
                    <span class="bg-gray-200 px-2 py-1 flex items-center gap-x-2 rounded-md">
                        <span class="pt-1 font-medium">italy</span>
                        <img src="/assets/images/icon/italy.svg" class="w-4" alt="">
                    </span>
                    <div *ngIf="item.status==0" class="flex items-center gap-x-2">
                        <img src="/assets/images/icon/folder.svg" class="w-5" alt="">
                        <span class="pt-1 font-medium">پیشنویس</span>
                    </div>
                    <div *ngIf="item.status==1" class="flex items-center gap-x-2">
                        <img src="/assets/images/icon/clock.svg" class="w-5" alt="">
                        <span class="pt-1 font-medium text-amber-500">در انتظار تایید</span>
                    </div>
                    <div *ngIf="item.status==2" class="flex items-center gap-x-2">
                        <img src="/assets/images/icon/clock2.svg" class="w-5 fill-blue-600" alt="">
                        <span class="pt-1 font-medium text-blue-600">در حال ثبت نام</span>
                    </div>
                    <img (click)="OpenShowMore(item.course_pk_id)" src="/assets/images/icon/show-more.svg"
                        class="w-6 cursor-pointer">
                    <div *ngIf="ShowMoreItem==item.course_pk_id"
                        class="absolute left-[4.7rem] z-10 mt-[9.8rem]   origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="py-1 text-xs font-semibold text-gray-800" role="none">
                            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                            <a class="block px-4 py-2 cursor-pointer">ویرایش</a>
                            <a (click)="OpenModal(item.course_pk_id)" class="block px-4 py-2 cursor-pointer">مشاهده</a>
                            <a (click)="RemoveItem(item.course_pk_id)"
                                class="text-red-600 block px-4 py-2 cursor-pointer">حذف</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between border-b py-4 font-medium">
                <div class="flex items-center gap-x-3">
                    <img src="/assets/images/icon/video.svg" class="w-5" alt="">
                    <span>تعداد جلسات</span>
                </div>
                <span> <span>14</span> جلسه</span>
            </div>
            <div class="flex items-center justify-between border-b py-4 font-medium">
                <div class="flex items-center gap-x-3">
                    <img src="/assets/images/icon/calendar.svg" class="w-5" alt="">
                    <span> روزهای کلاس</span>
                </div>
                <div class="flex items-center gap-x-3">
                    <span>شنبه: 12:00</span>
                    <img src="/assets/images/icon/line.svg" class="fill-gray-500">
                    <span>دوشنبه: 14:00</span>
                    <img src="/assets/images/icon/line.svg" class="fill-gray-500">
                    <span>چهارشنبه: 14:00</span>
                </div>
            </div>
            <div class="flex items-center justify-between  pt-4 pb-1 font-medium">
                <div class="flex items-center gap-x-3">
                    <img src="/assets/images/icon/user.svg" class="w-5" alt="">
                    <span> ظرفیت دوره</span>
                </div>
                <span> <span>{{item.course_capacity}}</span> نفر</span>
            </div>
        </div>
        <!-- <a href="/basic/course/add" class="bg-teal-500 p-2 rounded-full w-14 h-14 text-center shadow-md items-center justify-center flex fixed bottom-0 right-4">
            <img src="/assets/images/icon/plus.svg" class="w-8 fill-white" alt="">
        </a> -->
    </div>

    <div *ngIf="IsShowenModal==true"
        class="fixed left-0 top-0 z-999999 flex h-full min-h-screen w-full items-center justify-center bg-black/60 px-4 py-5 text-graydark dark:text-white">
        <div
            class="flex flex-col w-full mx-12  rounded-lg bg-white px-8 py-12 text-center dark:bg-boxdark text-graydark dark:text-white">
            <div class="footer flex  justify-start border-b py-3 border-[#b1b1b1]">
                <h3 class="font-semibold text-lg"> نمایش رکورد <span> اطلاعات درس </span></h3>
            </div>
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-6.5 p-6.5 text-graydark dark:text-white text-base py-4">

                <div>
                    <label class="my-3 block text-base font-semibold">
                        نام کلاس
                    </label>
                    <span>{{SingleData.course_name }}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold">
                        تاریخ شروع
                    </label>
                    <span>{{SingleData.starting_date|date: "HH:mm - YYYY/MM/dd" }}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold">
                        تاریخ اتمام
                    </label>
                    <span>{{SingleData.ending_date |date: "HH:mm - YYYY/MM/dd"}}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold ">
                        ظرفیت کلاس
                    </label>
                    <span>{{SingleData.course_capacity }}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold ">
                        سطح کلاس
                    </label>
                    <span>{{SingleData.course_level}}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold ">
                        زبان کلاس
                    </label>
                    <span>{{SingleData.course_language}}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold ">
                        کد کلاس
                    </label>
                    <span>{{SingleData.course_code}}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold ">
                        نوع کلاس
                    </label>
                    <span>{{SingleData.course_type}}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold">
                        تخفیف
                    </label>
                    <span>{{SingleData.package_discount}}%</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold">
                        سازنده
                    </label>
                    <span>{{SingleData.created_fk_by }}</span>
                </div>
                <div>
                    <label class="my-3 block text-base font-semibold ">
                        توضیحات
                    </label>
                    <span>{{SingleData.description}}</span>
                </div>
                <div class="col-span-2 mt-3">
                    <label class="my-3 block text-base font-semibold ">
                        اســـــاتــیـــد
                    </label>
                    <div class="grid grid-cols-4 gap-x-2 mt-3">
                        <div *ngFor="let teacher of SingleData.teachers"
                            class="flex items-center justify-center flex-col gap-y-3">
                            <img src="/assets/images/user.png" class="w-12 rounded-full border border-gray-200">
                            <span class="text-sm">{{teacher.name+ " "+ teacher.last_name}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer flex items-end justify-end border-t py-3 border-[#b1b1b1]">
                <button (click)="CloseModal()"
                    class="block  rounded border border-stroke bg-stroke hover:bg-bodydark1 font-semibold px-6 py-3 text-center  text-black-2 transition   dark:border-strokedark dark:bg-meta-4 dark:text-white">
                    بستن
                </button>
            </div>
        </div>
    </div>
</main>