<div class="header flex justify-between items-center p-3">
    <nav>
      <ol class="flex items-center gap-1 text-sm">
        <li>
          <span class="font-medium"> کتابخانه /</span>
        </li>
        <li class="font-medium text-primary">{{page_title}}  </li>
      </ol>
    </nav>
  </div>
  <div class="rounded-md border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <form [formGroup]="librariesForm" class="grid lg:grid-cols-2 grid-cols-1 gap-6.5 p-6.5">
        <div class="lg:col-span-2">
          <div class="flex items-center gap-x-6 w-full">
            <div class="w-full">
              <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
                عنوان
                <span class="text-meta-1">*</span>
              </label>
  
              <input type="text" formControlName="post_title"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary"
              [ngClass]="{'input-invalid': (this.librariesForm.controls.post_title.invalid) &&(this.librariesForm.controls.post_title.dirty ||this.librariesForm.controls.post_title.touched)}"
              >
            </div>
            <div *ngIf="false" class="lg:w-2/12">
              <label class="text-sm mb-5 block font-semibold  text-graydark dark:text-white">
                وضعیت نمایش
              </label>
              <label class="relative inline-flex cursor-pointer items-center">
                <input id="switch"  checked type="checkbox" class="peer sr-only" />
                <label for="switch" class="hidden"></label>
                <div class="peer h-6 w-11 rounded-full border border-whiter bg-stroke dark:bg-body after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:ring-green-300"></div>
              </label>
            </div>
          </div>
        </div>
    </form>
    <div class="flex justify-end p-6.5 items-center gap-x-2">

      <button [disabled]="this.librariesForm.invalid "  (click)="onSubmit()" class="flex disabled:bg-secondary justify-center rounded bg-primary py-2 px-5 font-medium text-gray">افزودن</button>
      <a [routerLink]="['/blogs']" class="flex justify-center rounded bg-bodydark py-2 px-5 font-medium text-black-2">بازگشت</a>
    </div>
  </div>
  