<header class="sticky  top-0 z-999 w-full bg-white px-12 py-3">
  <div class="flex items-center justify-start">
    <div>
      <a class="lg:block flex-shrink-0 hidden">
        <img src="/assets/images/logo.webp" alt="Logo" />
      </a>
    </div>
    <!-- <div class="menu w-full">
      <ul class="flex items-center justify-center gap-x-6 font-medium text-sm text-gray-700">
        <li>
          <a class="flex items-center">
            <span>صفحه اصلی</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> محصولات</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> کتابخانه رایگان</span>
            <img src="/assets/images/bottom-svg.svg" alt="" class="w-4">
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> دوره ها</span>
            <img src="/assets/images/bottom-svg.svg" alt="" class="w-4">
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> خدمات </span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> پادکست</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> بلاگ</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> اخبار</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> همکاری با ما</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> درباره ما  </span>
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</header>