<div class="breadcrumb flex gap-x-2 justify-between items-center px-5 mb-3 bg-white rounded-lg font-semibold text-xs">
  <nav>
    <ol class="flex items-center gap-1 py-2">
      <li>
        <span> ایجاد دوره</span>
      </li>
    </ol>
  </nav>
  <!-- <div class="flex justify-center items-center gap-x-7 pt-2 flex-1">
        <a class="flex  items-center py-3 border-b border-cyan-600  text-cyan-600">
            <span>اطلاعات کلی</span>
            <svg class="w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="_24x24_On_Light_Arrow-Left"
                data-name="24x24/On Light/Arrow-Left">
                <rect id="view-box" width="24" height="24" fill="none" />
                <path id="Shape"
                    d="M.22,10.22A.75.75,0,0,0,1.28,11.28l5-5a.75.75,0,0,0,0-1.061l-5-5A.75.75,0,0,0,.22,1.28l4.47,4.47Z"
                    transform="translate(14.75 17.75) rotate(180)" fill="currentColor" />
            </svg>
        </a>
        <a class="flex items-center py-3  ">
            <span> کلاس ها</span>
            <svg class="fill-gray-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                id="_24x24_On_Light_Arrow-Left" data-name="24x24/On Light/Arrow-Left">
                <rect id="view-box" width="24" height="24" fill="none" />
                <path id="Shape"
                    d="M.22,10.22A.75.75,0,0,0,1.28,11.28l5-5a.75.75,0,0,0,0-1.061l-5-5A.75.75,0,0,0,.22,1.28l4.47,4.47Z"
                    transform="translate(14.75 17.75) rotate(180)" fill="currentColor" />
            </svg>
        </a>
        <a class="flex items-center py-3  ">
            <span> آزمون ها</span>
            <svg class="fill-gray-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                id="_24x24_On_Light_Arrow-Left" data-name="24x24/On Light/Arrow-Left">
                <rect id="view-box" width="24" height="24" fill="none" />
                <path id="Shape"
                    d="M.22,10.22A.75.75,0,0,0,1.28,11.28l5-5a.75.75,0,0,0,0-1.061l-5-5A.75.75,0,0,0,.22,1.28l4.47,4.47Z"
                    transform="translate(14.75 17.75) rotate(180)" fill="currentColor" />
            </svg>
        </a>
        <a class="flex items-center py-3 ">
            <span> فایل ها</span>
            <svg class="fill-gray-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                id="_24x24_On_Light_Arrow-Left" data-name="24x24/On Light/Arrow-Left">
                <rect id="view-box" width="24" height="24" fill="none" />
                <path id="Shape"
                    d="M.22,10.22A.75.75,0,0,0,1.28,11.28l5-5a.75.75,0,0,0,0-1.061l-5-5A.75.75,0,0,0,.22,1.28l4.47,4.47Z"
                    transform="translate(14.75 17.75) rotate(180)" fill="currentColor" />
            </svg>
        </a>
        <a class="flex items-center py-3 ">
            <span> تمرینات</span>
            <svg class="fill-gray-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                id="_24x24_On_Light_Arrow-Left" data-name="24x24/On Light/Arrow-Left">
                <rect id="view-box" width="24" height="24" fill="none" />
                <path id="Shape"
                    d="M.22,10.22A.75.75,0,0,0,1.28,11.28l5-5a.75.75,0,0,0,0-1.061l-5-5A.75.75,0,0,0,.22,1.28l4.47,4.47Z"
                    transform="translate(14.75 17.75) rotate(180)" fill="currentColor" />
            </svg>
        </a>
        <a class="flex items-center py-3 ">
            <span> نظر سنجی</span>
            <svg class="fill-gray-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                id="_24x24_On_Light_Arrow-Left" data-name="24x24/On Light/Arrow-Left">
                <rect id="view-box" width="24" height="24" fill="none" />
                <path id="Shape"
                    d="M.22,10.22A.75.75,0,0,0,1.28,11.28l5-5a.75.75,0,0,0,0-1.061l-5-5A.75.75,0,0,0,.22,1.28l4.47,4.47Z"
                    transform="translate(14.75 17.75) rotate(180)" fill="currentColor" />
            </svg>
        </a>

    </div> -->
  <div class="icon flex items-center gap-x-3 py-2">
    <a class="border border-gray-500 px-4 py-2 rounded-md hover:bg-gray-200 "
      [routerLink]="['/basic/course']">انصراف</a>
    <button [disabled]="this.ReportForm.invalid || btnLoading" (click)="onSubmit()"
      class="border border-cyan-600 px-4 py-2 rounded-md bg-cyan-600 text-white disabled:bg-cyan-400 disabled:border-cyan-400">
      ذخیره
    </button>
    <button [disabled]="this.ReportForm.invalid || btnLoading" (click)="onSubmitNext()"
      class="border border-cyan-600 px-4 py-2 rounded-md flex items-center gap-x-2 bg-cyan-600 text-white disabled:bg-cyan-400 disabled:border-cyan-400">
      <span>ذخیره و مرحله بعد</span>
      <img src="/assets/images/icon/left-arrow.svg" class="w-5" alt="">
    </button>
  </div>
</div>
<main>
  <div class="p-5 mb-3 bg-white rounded-lg">
    <form [formGroup]="ReportForm">
      <div class="grid grid-cols-4 gap-x-3 gap-y-8 w-full py-4">
        <div class="relative col-span-2 ">
          <input type="text" formControlName="course_name"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">عنوان
            دوره
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative">
          <input type="text" formControlName="course_level"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            سطح دوره
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative">
          <input formControlName="course_code" type="text"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            کد دوره
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative col-span-2">
          <select formControlName="course_language"
            class="w-full dark:text-bodydark1 text-black rounded-lg border border-gray-300 bg-transparent py-[0.68rem] px-2 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
            @for (item of CourseLanguageData; track item.language_pk_id) {
            <option [value]="item.language_pk_id">{{item.language_name}}
            </option>
            }
          </select>
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">زبان
            دوره
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative">
          <input formControlName="course_capacity" type="number"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            ظرفیت دوره
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative">
          <input formControlName="package_discount" type="number"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            تخفیف
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative">
          <ng-persian-datepicker dir="ltr" [dateFormat]="'YYYY/MM/DD'" [dateInitValue]="true">
            <input type="text" formControlName="starting_date"
              class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer">
          </ng-persian-datepicker>
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            تاریخ شروع
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative">
          <ng-persian-datepicker dir="ltr" [dateFormat]="'YYYY/MM/DD'" [dateInitValue]="true">
            <input type="text" formControlName="ending_date"
              class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer">
          </ng-persian-datepicker>
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            تاریخ اتمام
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative">
          <select formControlName="created_fk_by"
            class="w-full dark:text-bodydark1 text-black rounded-lg border border-gray-300 bg-transparent py-[0.68rem] px-2 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
            @for (item of EmployiesData; track item.user_pk_id) {
            <option [value]="item.user_pk_id">{{item.name+" "+item.last_name}}
            </option>
            }
          </select>
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">سازنده
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="relative">
          <input formControlName="Course_price" type="text" InputWithComma
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
          <label
            class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            هزینه دوره
            <span class="text-red-500 text-lg">*</span>
          </label>
        </div>
        <div class="flex flex-col col-span-4">
          <label>نوع دوره
            <span class="text-red-500 text-lg">*</span>
          </label>
          @if (CourseTypeData.length<=0) { <div
            class="flex items-center justify-between bg-gray-100 w-full rounded-lg px-3 py-2 mt-2">
            <span>در حال حاضر هیچ نوع دوره ای ثبت نشده است !</span>
            <a class="border border-gray-800 rounded-lg px-3 py-2 bg-white font-medium"
              [routerLink]="['/basic/course-type/add']">افزودن نوع دوره</a>
        </div>
        }
        @else {
        <div class="grid grid-cols-4 bg-gray-100 w-full rounded-lg p-2 mt-2">
          @for (item of CourseTypeData; track item.course_type_pk_id;let i =$index) {
          <div class="flex w-full text-center font-medium space-x-1">
            <input [value]="item.course_type_pk_id" type="radio" formControlName="course_type" name="course_type"
              id="kind-{{i}}" class="peer hidden" />
            <label for="kind-{{i}}"
              class="peer-checked:bg-white border border-dashed border-gray-400  peer-checked:font-bold peer-checked:shadow-md rounded-lg p-2 cursor-pointer w-full ">{{item.course_type_name}}</label>
          </div>
          }
        </div>
        }
      </div>
      <div class="relative col-span-4">
        <label class="mb-3 block text-base "> توضیحات تکمیلی</label>
        <ckeditor class="w-full mt-2" formControlName="description" [editor]="editor"></ckeditor>
      </div>
      <div class="col-span-4">
        <label class="mb-3 block text-base text-graydark dark:text-white">
          برچسب
        </label>
        <div
          class="flex items-center justify-between pr-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 ">
          @if(this.CourseTagData.length<1){ <span>هیچ برچسبی افزوده نشده است</span>
            }
            @if (this.CourseTagData.length>0) {
            <input type="text" formControlName="tags" (click)="OpenSearchTag()"
              class="text-gray-900 bg-transparent py-2 w-3/4 cursor-pointer  focus:outline-none focus:ring-0 focus:border-blue-600">
            }
            <div class="flex items-center justify-end w-1/4">
              <button class="btn rounded-none border-l border-gray-300" (click)="GetCourseTagData()"><img class="w-4"
                  src="/assets/images/icon/refresh.svg" alt=""></button>
              <a target="_blank" class="btn rounded-r-none" (click)="this.OpenTagAdd()">افزودن برچسب</a>

            </div>
        </div>
        @if ((isOpenSearchTag) && (this.CourseTagData.length>0)) {
        <div
          class="search-tag  bg-white dark:bg-form-input dark:text-bodydark1 text-black  border border-t-0 border-gray-300 rounded-br-lg rounded-bl-lg shadow-md max-h-34 overflow-y-auto">
          @for (item of CourseTagData | filter: this.ReportForm.controls.tags.value; track $index) {
          <div (click)="AddTagInput(item.tag_pk_id,item.tag_name)"
            class="px-4 py-3 cursor-pointer hover:bg-gray-100 font-medium text-black dark:text-white">
            {{item.tag_name}}</div>
          }
        </div>
        }
        @if (tagsInputArray.length>0) {
        <div
          class="w-full bg-gray-100 flex items-center gap-2 mt-4 p-2 flex-wrap max-h-34 overflow-y-auto border border-gray-400 border-1 border-dashed  rounded-md">
          @for (item of tagsInputTitleArray; track item.role_id;let i =$index) {
          <div
            class=" flex text-center justify-between text-black dark:text-white shadow-md px-3 py-1 bg-white rounded-md ">
            <button>
              <svg (click)="RemoveTagInput(item.role_id,i)"
                class="w-8  pl-2 fill-body hover:fill-black dark:fill-bodydark dark:hover:fill-bodydark1 mx-auto cursor-pointer"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                  d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z">
                </path>
              </svg>
            </button>
            <span>{{item.role_title}}</span>
          </div>
          }
        </div>
        }
      </div>
      @if (!imageUrl) {
      <div
        class="col-span-2 min-h-[150px] border p-5 relative  cursor-pointer items-center justify-center  rounded-md border-dashed border-gray-400 ">

        <input type="file" (change)="UploadImage($event)" accept=".jpg,.svg,.png,.jpeg" formControlName="course_image"
          class="cursor-pointer relative block opacity-0 w-full h-full p-20 z-50">
        <div class="text-center text-black dark:text-whiter p-10 absolute top-0 right-0 left-0 m-auto">
          <div class="flex flex-col gap-y-6 items-center justify-center">
            <div
              class="flex h-15 w-15 items-center justify-center rounded-full bg-white text-black shadow-10 dark:bg-black dark:text-white">
              <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1867_11682)">
                  <path
                    d="M18.75 13.75C18.375 13.75 18.0313 14.0625 18.0313 14.4687V17.25C18.0313 17.5312 17.8125 17.75 17.5312 17.75H2.46875C2.1875 17.75 1.96875 17.5312 1.96875 17.25V14.4687C1.96875 14.0625 1.625 13.75 1.25 13.75C0.875 13.75 0.53125 14.0625 0.53125 14.4687V17.25C0.53125 18.3125 1.375 19.1562 2.4375 19.1562H17.5312C18.5938 19.1562 19.4375 18.3125 19.4375 17.25V14.4687C19.4688 14.0625 19.125 13.75 18.75 13.75Z"
                    fill=""></path>
                  <path
                    d="M5.96875 6.46875L9.3125 3.21875V14.0313C9.3125 14.4063 9.625 14.75 10.0312 14.75C10.4062 14.75 10.75 14.4375 10.75 14.0313V3.21875L14.0937 6.46875C14.2187 6.59375 14.4062 6.65625 14.5938 6.65625C14.7812 6.65625 14.9688 6.59375 15.0938 6.4375C15.375 6.15625 15.3438 5.71875 15.0938 5.4375L10.5 1.0625C10.2187 0.8125 9.78125 0.8125 9.53125 1.0625L4.96875 5.46875C4.6875 5.75 4.6875 6.1875 4.96875 6.46875C5.25 6.71875 5.6875 6.75 5.96875 6.46875Z"
                    fill=""></path>
                </g>
                <defs>
                  <clipPath id="clip0_1867_11682">
                    <rect width="20" height="20" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <span class="font-medium text-black dark:text-white">
              تصویر دوره
            </span>
          </div>
        </div>
      </div>
      }
      @if (imageUrl) {
      <div class="col-span-2 border p-5 relative  rounded-md border-dashed border-bodydark1   dark:border-strokedark ">
        <img [src]="imageUrl" class="max-w-[250px] max-h-[250px] mx-auto">
        <button (click)="RemoveImage()" class="absolute bg-black rounded-full top-0 left-0">
          <svg class="w-8" viewBox="0 0 54 54" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M26.2929 20.2929L19.2071 13.2071C18.8166 12.8166 18.1834 12.8166 17.7929 13.2071L13.2071 17.7929C12.8166 18.1834 12.8166 18.8166 13.2071 19.2071L20.2929 26.2929C20.6834 26.6834 20.6834 27.3166 20.2929 27.7071L13.2071 34.7929C12.8166 35.1834 12.8166 35.8166 13.2071 36.2071L17.7929 40.7929C18.1834 41.1834 18.8166 41.1834 19.2071 40.7929L26.2929 33.7071C26.6834 33.3166 27.3166 33.3166 27.7071 33.7071L34.7929 40.7929C35.1834 41.1834 35.8166 41.1834 36.2071 40.7929L40.7929 36.2071C41.1834 35.8166 41.1834 35.1834 40.7929 34.7929L33.7071 27.7071C33.3166 27.3166 33.3166 26.6834 33.7071 26.2929L40.7929 19.2071C41.1834 18.8166 41.1834 18.1834 40.7929 17.7929L36.2071 13.2071C35.8166 12.8166 35.1834 12.8166 34.7929 13.2071L27.7071 20.2929C27.3166 20.6834 26.6834 20.6834 26.2929 20.2929Z">
            </path>
          </svg>
        </button>
      </div>
      }
  </div>
  </form>
  </div>
  <dialog class="modal " [ngClass]="{'modal-open' : (isOpenTagAdd)}">
    <div class="modal-box  w-11/12 max-w-5xl">
      @if (isOpenTagAdd) {
      <app-course-tag-add></app-course-tag-add>
      }
      <div class="flex justify-end mt-6 gap-x-6">
        <button (click)="CLoseTagAdd()" class="btn">بستن</button>
      </div>
    </div>

  </dialog>
</main>
