<header class="noprint sticky  top-0 z-40 w-full bg-white lg:px-12 px-4 lg:py-3 py-2">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-x-4">
      <button (click)="openHamburgerMenu()" class="border border-gray-200 p-1 w-8 block lg:hidden">
        <img src="/assets/images/icon/menu.svg" class="w-full" alt="">
      </button>
      <a [routerLink]="['/']" class="block flex-shrink-0">
        <img class="hidden lg:block w-32" src="/assets/images/logo.webp" alt="Logo" />
        <img class="block lg:hidden w-5" src="/assets/images/logo-mini.webp" alt="Logo" />
      </a>
    </div>
    <div class="flex items-center gap-x-3">
      <a class="relative border bg-gray-100 rounded-full flex items-center justify-center w-8 h-8" href="">
        <span  class="absolute -top-0.5 right-0 z-1 h-2 w-2 rounded-full bg-rose-600">
          <span class="absolute -z-1 inline-flex h-full w-full animate-ping rounded-full bg-rose-600 opacity-75"></span>
        </span>
        <img src="/assets/images/icon/notification1.svg" class="w-5 fill-gray-100" alt="">
      </a>
      <a class="relative border bg-gray-100 rounded-full flex items-center justify-center w-8 h-8" href="">
        <span  class="absolute -top-0.5 right-0 z-1 h-2 w-2 rounded-full bg-rose-600">
          <span class="absolute -z-1 inline-flex h-full w-full animate-ping rounded-full bg-rose-600 opacity-75"></span>
        </span>
        <img src="/assets/images/icon/message.svg" class="w-5 fill-gray-100" alt="">
      </a>
    </div>
    <!-- <div class="menu w-full">
      <ul class="flex items-center justify-center gap-x-6 font-medium text-sm text-gray-700">
        <li>
          <a class="flex items-center">
            <span>صفحه اصلی</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> محصولات</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> کتابخانه رایگان</span>
            <img src="/assets/images/bottom-svg.svg" alt="" class="w-4">
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> دوره ها</span>
            <img src="/assets/images/bottom-svg.svg" alt="" class="w-4">
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> خدمات </span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> پادکست</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> بلاگ</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> اخبار</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> همکاری با ما</span>
          </a>
        </li>
        <li>
          <a class="flex items-center ">
            <span> درباره ما  </span>
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</header>

<aside [ngClass]="{'!translate-x-0': (isOpenHamburgerMenu) }"  class="noprint transition transform ease-in-out duration-700 lg:translate-x-0  translate-x-72  right-0  lg:my-4 lg:mr-4 fixed lg:top-[3.6rem] top-0 bottom-0 w-full max-w-[18rem] p-0 overflow-hidden lg:z-30 z-50 rounded-lg lg:bg-white bg-gray-50 shadow-lg lg:shadow-none "
  >
  <!-- SIDEBAR HEADER -->
  <div class="lg:hidden flex items-center justify-between gap-2 px-2 pt-3">
    <img class="w-28" src="/assets/images/logo.webp" alt="Logo" />
    <button class="p-3" (click)="openHamburgerMenu()">
      <img class="w-5" src="/assets/images/icon/close.svg" alt="Logo" />
    </button>
  </div>
  <!-- SIDEBAR HEADER -->
  <div class="no-scrollbar flex flex-col  duration-300 ease-linear h-[97vh] overflow-y-auto">
    <!-- Sidebar Menu -->
    <nav class="my-5 py-4  overflow-y-auto h-full">
      <!-- Menu Group -->
      <div>
        <div class="flex items-center justify-between border-b pb-4 border-gray-100 px-4">
          <div class="flex items-center gap-x-2 ">
            <img src="/assets/images/user.svg" class="w-9" alt="">
            <div class="flex flex-col text-xs  gap-y-1">
              <span>{{this.loggedInUser.fname  + '&nbsp;' + this.loggedInUser.lname }}</span>
              <span>{{this.loggedInUser.email}}</span>
            </div>
          </div>
          <div class="tooltip  tooltip-bottom" data-tip="خروج">
            <button (click)="Logout()">
              <img src="/assets/images/logout.svg" class="w-5 fill-gray-700" alt="">
            </button>
          </div>

        </div>
        <div class="py-6">

          <ul class="menu bg-white font-medium menu-md ">
            <li class="py-1"><a [routerLink]="['/']">داشبورد</a></li>
            <li class="py-1">
              <details >
                <summary>اطلاعات پایه</summary>
                <ul>
                  <li class="py-1"><a [routerLink]="['/basic/users']">پرسنل</a></li>
                  <li class="py-1"><a [routerLink]="['/basic/roles']">نقش ها</a></li>
                  <li class="py-1"><a [routerLink]="['/basic/students']">دانشجویان</a></li>
                  <li class="py-1"><a [routerLink]="['/basic/course']">دوره ها</a></li>
                  <li class="py-1"><a [routerLink]="['/basic/questions']">سوالات</a></li>
                  <li class="py-1"><a [routerLink]="['/basic/answers']">پاسخ سوالات</a></li>
                  <li class="py-1"><a [routerLink]="['/basic/payments']">روش های پرداخت</a></li>
                </ul>
              </details>
            </li>
            <li class="py-1">
              <details >
                <summary> محتوای آموزشی</summary>
                <ul>
                  <li class="py-1"><a [routerLink]="['/contents']" [queryParams]="{type: 'blog'}">بلاگ</a></li>
                  <li class="py-1"><a [routerLink]="['/contents']" [queryParams]="{type: 'podcast'}">پادکست</a></li>
                  <li class="py-1"><a [routerLink]="['/contents']" [queryParams]="{type: 'news'}">اخبار</a></li>
                </ul>
              </details>
            </li>
            <li class="py-1">
              <details >
                <summary>کتابخانه</summary>
                <ul>
                  <li class="py-1"><a [routerLink]="['/libraries']" [queryParams]="{type: 'story'}">داستانی</a></li>
                  <li class="py-1"><a [routerLink]="['/libraries']" [queryParams]="{type: 'magazine'}">مجلات</a></li>
                  <li class="py-1"><a [routerLink]="['/libraries']" [queryParams]="{type: 'educational'}">آموزشی</a></li>
                </ul>
              </details>
            </li>
             <li class="py-1">
              <details >
                <summary>  گزارشات</summary>
                <ul>
                  <li class="py-1">
                    <details >
                      <summary>کادر دفتر</summary>
                      <ul>
                        <li><a [routerLink]="['/reports/tardy_request']">تاخیر اساتید</a></li>
                      </ul>
                    </details>
                  </li>
                  <li class="py-1">
                    <details >
                      <summary>عمومی</summary>
                      <ul>
                        <li class="py-1"><a [routerLink]="['/reports/leave_request']">مرخصی</a></li>
                        <li class="py-1"><a [routerLink]="['/reports/business_trip']">ماموریت</a></li>
                        <li class="py-1"><a [routerLink]="['/reports/remote_request']">دورکاری</a></li>
                      </ul>
                    </details>
                  </li>
                  <li class="py-1">
                    <details>
                      <summary>حسابداری</summary>
                      <ul>
                        <li class="py-1"><a [routerLink]="['/reports/finger_scanner']">ورود و خروج کارکنان</a></li>
                        <li class="py-1"><a [routerLink]="['/reports/salarypolicy']">ضریب محاسبه حقوق</a></li>
                      </ul>
                    </details>
                  </li>
                  <li class="py-1">
                    <details >
                      <summary>آموزش</summary>
                      <ul>
                        <li class="py-1"><a [routerLink]="['/reports/teacher_replacement']">استاد جایگزین</a></li>
                        <li class="py-1"><a [routerLink]="['/reports/class_cancellation']">کنسلی کلاس</a></li>
                      </ul>
                    </details>
                  </li>
                  <li class="py-1">
                    <details>
                      <summary>مالی</summary>
                      <ul>
                        <li class="py-1"><a [routerLink]="['/reports/professorsreports']">محاسبات حقوق پرسنل</a></li>
                        <li class="py-1"><a>محاسبات حقوق اساتید</a></li>
                      </ul>
                    </details>
                  </li>
                  <li class="py-1">
                    <details >
                      <summary>روابط عمومی</summary>
                      <ul>
                        <li class="py-1"><a [routerLink]="['/reports/survey']">نظر سنجی</a></li>
                      </ul>
                    </details>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- Sidebar Menu -->
  </div>
</aside>
