<div class="breadcrumb flex justify-between items-center px-5 mb-3 bg-white rounded-lg font-semibold">
    <nav>
        <ol class="flex items-center gap-1 text-sm py-2">
            <li>
                <span> {{form_title}} </span>
            </li>
        </ol>
    </nav>
    <div class="icon flex items-center gap-x-2 py-2">
        <a [routerLink]="[add_url]"
            class="relative text-cyan-600 border border-cyan-600 px-4 py-1 rounded-md group transition-all duration-200 focus:overflow-visible w-max h-max p-2 overflow-hidden flex flex-row items-center justify-center bg-white gap-x-2 ">افزودن</a>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<main *ngIf="!isLoading">
    <div class="p-5 my-3 bg-white rounded-lg">
        <div
            class="header grid grid-cols-{{table_header.length}} text-center text-gray-900 font-medium bg-gray-100 py-2 rounded-lg shadow-md mb-6">
            <span *ngFor="let item of table_header">{{item}}</span>
        </div>
        <div *ngFor="let item of ResponseDataList | paginate: { itemsPerPage: 10,currentPage: currentPage }; let i =index"
            class="body grid grid-cols-{{table_header.length}} text-center text-gray-900 font-medium text-sm mb-5 space-y-3">
            <span>{{ (((this.currentPage)-1 )*10) +(i+1)}}</span>
            <span>{{ item.name + '&nbsp; &nbsp;'+ item.last_name}}</span>
            <span *ngIf="item.roles.length>0;else other_content">{{item.roles[0].name }}</span>
            <ng-template #other_content> <span>----</span> </ng-template>
            <!--<div class="flex items-center justify-center">
              <span class="badge badge-ghost">{{item.status}}</span>
            </div> -->
            <div class="operation flex items-center justify-center gap-x-2">
                <button (click)="OpenModal(item.user_pk_id)" title="نمایش">
                    <img src="/assets/images/icon/see-more.svg" class="w-4" alt="">
                </button>
                <a [routerLink]="[edit_url,item.user_pk_id]" title="ویرایش">
                    <img src="/assets/images/icon/edit.svg" class="w-4" alt="">
                </a>
                <button title="حذف" (click)="RemoveItem(item.user_pk_id)">
                    <img src="/assets/images/icon/trash.svg" class="w-4" alt="">
                </button>
                <a target="_blank" [routerLink]="['/basic/payment/add']"  [queryParams]="{user_id:item.user_pk_id }" title="روش های پرداخت">
                  <img src="/assets/images/icon/payment.svg" class="w-4" alt="">
              </a>
            </div>
        </div>
        <div class="paging flex items-center justify-center mt-16 flex-wrap ">
          <pagination-controls (pageChange)="currentPage= $event" previousLabel="قبلی" nextLabel="بعدی" ></pagination-controls>
        </div>
    </div>


    <dialog id="my_modal_1" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">Press ESC key or click the button below to close</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>



    <div *ngIf="IsShowenModal==true" x-transition=""
  class="fixed   left-0 top-0 z-999999 flex h-full min-h-screen w-full items-center justify-center bg-black/40 px-4 py-5 text-graydark dark:text-white">
  <div
    class="flex flex-col w-full mx-12 lg:mr-[19rem]  rounded-lg bg-white px-8 py-12 text-center dark:bg-boxdark text-graydark dark:text-white">
    <div class="footer flex  justify-start border-b py-3 border-[#b1b1b1]">
      <h3 class="font-semibold text-lg"> نمایش رکورد  اطلاعات پرسنل </h3>
    </div>
    <div class="grid grid-cols-2 py-3  text-graydark dark:text-white text-base">
      <div>
        <label class="my-3 block text-base font-semibold">
          نام
        </label>
        <span>{{SingleData.name+ " "+SingleData.last_name }}</span>
      </div>
      <div>
        <label class="my-3 block text-base font-semibold ">
          ایمیل
        </label>
        <span>{{SingleData.email}}</span>
      </div>

      <div>
        <label class="my-3 block text-base font-semibold ">
          آدرس
        </label>
        <span>{{SingleData.address}}</span>
      </div>
      <div>
        <label class="my-3 block text-base font-semibold ">
          همراه
        </label>
        <span>{{SingleData.mobile_number}}</span>
      </div>
      <div class="col-span-2 ">
        <label class="my-3 block text-base font-semibold ">
          نقش ها
        </label>
        <div class="flex items-center justify-center gap-x-3">
          <span *ngFor="let item of SingleData.roles"
            class="text-black dark:text-white rounded-lg px-3 py-1 bg-gray-200">{{item.name}}</span>
        </div>
      </div>
    </div>

    <div class="footer flex items-end justify-end border-t py-3 border-[#b1b1b1]">
      <button (click)="CloseModal()"
        class="block  rounded border border-stroke bg-stroke hover:bg-bodydark1 font-semibold px-6 py-3 text-center  text-black-2 transition   dark:border-strokedark dark:bg-meta-4 dark:text-white">
        بستن
      </button>
    </div>
  </div>
</div>



</main>
