<div class="header flex justify-between items-center p-3">
  <nav>
    <ol class="flex items-center gap-1 text-sm">
      <li>
        <span class="font-medium">محتوای آموزشی /</span>
      </li>
      <li class="font-medium text-primary">افزودن بلاگ </li>
    </ol>
  </nav>
</div>
<div class="rounded-md border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
  <div class="grid lg:grid-cols-2 grid-cols-1 gap-5.5 p-6.5">
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        title
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        summary
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        discribtion
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        image
      </label>
      <input type="file" class="w-full cursor-pointer rounded-lg border-[1.5px] border-stroke bg-transparent font-medium outline-none transition  file:border-collapse file:cursor-pointer file:border-0 file:border-l file:border-solid file:border-stroke file:bg-whiter file:py-3 file:px-5 file:hover:bg-primary file:hover:bg-opacity-10 focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:file:border-form-strokedark dark:file:bg-white/30 dark:file:text-white dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        type
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        direction
      </label>
      <select class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-[0.69rem] px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        <option value="rtl" selected>rtl</option>
        <option value="ltr">ltr</option>
      </select>

    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        priority
      </label>
      <input type="number" value="5"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        visible
      </label>
      <select class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-[0.69rem] px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        <option value="true" selected>true</option>
        <option value="false">false</option>
      </select>
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        expier_date
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        tag
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        category
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        audio file link
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        audio file path
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        aparat video id
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        aparat video code
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        video file link
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        video file path
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        data file link
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        data file path
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        users post speaker
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        users post writer
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div>
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        users post actor
      </label>
      <input type="text"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
    </div>
    <div class="lg:col-span-2">
      <label class="mb-3 block text-sm font-medium text-black dark:text-white">
        متن
      </label>
      <ckeditor [editor]="Editor" ></ckeditor>
    </div>
  </div>
  <div class="flex justify-end p-6.5 items-center gap-x-2">
    <button class="flex justify-center rounded bg-primary py-2 px-5 font-medium text-gray">افزودن</button>
    <a [routerLink]="['/blogs']" class="flex justify-center rounded bg-bodydark py-2 px-5 font-medium text-black-2">بازگشت</a>
  </div>
</div>
