<div class="breadcrumb flex gap-x-2 justify-between items-center px-5 mb-3 bg-white rounded-lg font-semibold text-xs">
    <nav>
        <ol class="flex items-center gap-1 py-2">
            <li>
                <span> {{ page_title }} <span class="pr-1">{{form_title}}</span></span>
            </li>
        </ol>
    </nav>
    <div class="icon flex items-center gap-x-3 py-2">
        <button [disabled]="this.ReportForm.invalid || btnLoading" (click)="onSubmit()"
            class="border border-cyan-600 px-4 py-2 rounded-md bg-cyan-600 text-white disabled:bg-cyan-400 disabled:border-cyan-400">
            ذخیره
        </button>
        <a class="border border-gray-500 px-4 py-2 rounded-md hover:bg-gray-200" [routerLink]="[cancle_link]">انصراف</a>
    </div>
</div>
<main>
    <div class="p-5 mb-3 bg-white rounded-lg">
        <form [formGroup]="ReportForm">
            <div class="grid grid-cols-2 gap-x-3 gap-y-8 w-full py-4">
                <div class="relative">
                    <select formControlName="created_fk_by"
                        class="w-full dark:text-bodydark1 text-black rounded-lg border border-gray-300 bg-transparent py-[0.68rem] px-2 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
                        <option *ngFor="let item of EmployiesData" [value]="item.user_pk_id">{{item.name+" "+item.last_name}}</option>
                    </select>
                    <label
                        class="absolute font-medium text-gray-800  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">سازنده
                    </label>
                </div>
                <div class="relative">
                    <input type="text" formControlName="language_name"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"/>
                    <label
                        class="absolute text-sm font-medium text-gray-800 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
                        نام زبان
                    </label>
                </div>
                <div class="relative col-span-2">
                    <input type="text" formControlName="description"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"/>
                    <label
                        class="absolute text-sm font-medium text-gray-800 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
                         توضیحات
                    </label>
                </div>
            </div>
        </form>
    </div>
</main>
