<div class="header flex justify-between items-center p-3">
    <nav>
      <ol class="flex items-center gap-1 text-sm">
        <li>
          <span class="font-medium">محتوای آموزشی /</span>
        </li>
        <li class="font-medium text-primary">{{page_title}}  </li>
      </ol>
    </nav>
  </div>
  <div class="rounded-md border border-[#c5c5c5] bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
      <form [formGroup]="postForm" class="grid lg:grid-cols-2 grid-cols-1 gap-6.5 p-6.5">
        <div class="lg:col-span-2">
          <div class="flex items-center gap-x-6 w-full">
            <div class="w-full">
              <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
                عنوان
                <span class="text-meta-1">*</span>
              </label>
              <input type="text" formControlName="post_title"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary"
              [ngClass]="{'input-invalid': (this.postForm.controls.post_title.invalid) &&(this.postForm.controls.post_title.dirty ||this.postForm.controls.post_title.touched)}"
              >
            </div>
            <div *ngIf="false" class="lg:w-2/12">
              <label class="text-sm mb-5 block font-semibold  text-graydark dark:text-white">
                وضعیت نمایش
              </label>
              <label class="relative inline-flex cursor-pointer items-center">
                <input id="switch"  checked type="checkbox" class="peer sr-only" />
                <label for="switch" class="hidden"></label>
                <div class="peer h-6 w-11 rounded-full border border-whiter bg-stroke dark:bg-body after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:ring-green-300"></div>
              </label>
            </div>
          </div>
        </div>
      <div>
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          نوع پست
        </label>
        <select formControlName="post_type" class="form-control-select">
          <option *ngFor="let item of post_topic_list " [value]="item.topic_name" >{{item.label_name}}</option>
        </select>
      </div>
      <div>
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          چینش صفحه
        </label>
        <select formControlName="post_direction" class="form-control-select">
          <option value="RTL" >RTL</option>
          <option value="LTR">LTR</option>
        </select>
  
      </div>
      <div>
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          اولویت
        </label>
        <input type="number" formControlName="post_priority"   class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
      </div>
      <div>
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          تاریخ انقضا پست
        </label>
        <ng-persian-datepicker [dateFormat]="'YYYY-MM-DD'" [dateInitValue]="false">
        <input type="text"  formControlName="expier_date"  class="form-control">
      </ng-persian-datepicker>
      </div>
  
      <div>
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
           دسته
        </label>
        <select  formControlName="categoty"  class="form-control-select">
          <option *ngFor="let item of post_category_list " [value]="item.category_pk_id" >{{item.category_name}}</option>
        </select>
      </div>
      <div>
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
           وضعیت پست
        </label>
        <select  formControlName="post_status"  class="form-control-select">
          <option value="0">غیر فعال</option>
          <option value="1"> تایید نشده</option>
          <option value="2"> فعال</option>
        </select>
      </div>
      <div  class="lg:col-span-2">
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          برچسب
            <span class="text-form-input font-medium dark:text-white">
            (Press Enter to add )
          </span> 
        </label>
        <input  type="text" formControlName="tag" (click)="OpenSearchTag()" (keyup.enter)="AddTagInputManually()"   class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        <div *ngIf="isOpenSearchTag" class="search-tag mt-2 bg-white dark:bg-form-input dark:text-bodydark1 text-black  border border-gray-300 rounded-lg shadow-md max-h-34 overflow-y-auto">
          <div (click)="AddTagInput(item.tag_pk_id,item.tag_name)" *ngFor="let item of tag_list | filter: this.postForm.controls.tag.value" class="px-4 py-2 cursor-pointer hover:bg-stroke dark:hover:bg-black text-black dark:text-white">{{item.tag_name}}</div>
        </div>
        <div *ngIf="tagsInputArray.length>0" class="w-full flex items-center gap-2 mt-4 p-2 flex-wrap max-h-34 overflow-y-auto border-[1.5px] border-stroke dark:border-form-strokedark rounded-md">
          <div *ngFor="let item of tagsInputArray;let i = index" class=" flex text-center justify-between text-black dark:text-white rounded-sm px-3 py-1 bg-bodydark1 dark:bg-black ">
            <button >
              <svg (click)="RemoveTagInput(i)" class="w-8  pl-2 fill-body hover:fill-black dark:fill-bodydark dark:hover:fill-bodydark1 mx-auto cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z"></path></svg>
            </button>
            <span>{{item}}</span>
            </div>
        </div>
      </div>
      <div  class="lg:col-span-2">
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          بازیگران
           <span class="text-form-input font-medium dark:text-white">
            (Press Enter to add )
          </span>
        </label>
        <app-employees-users (employees_array_output)="add_users_post_actor($event)"></app-employees-users>
      </div>
      <div  class="lg:col-span-2">
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          گویندگان
           <span class="text-form-input font-medium dark:text-white">
            (Press Enter to add )
          </span>
        </label>
        <app-employees-users (employees_array_output)="add_users_post_speaker($event)"></app-employees-users>
      </div>
      <div  class="lg:col-span-2">
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          نویسندگان
           <span class="text-form-input font-medium dark:text-white">
            (Press Enter to add )
          </span>
          <span class="text-meta-1">*</span>
        </label>
        <app-employees-users (employees_array_output)="add_users_post_writer($event)"></app-employees-users>
      </div>
      <div class="lg:col-span-2" >
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          تصویر پست (500 * 500)
          <span class="text-meta-1">*</span>
        </label>
        <div class="flex items-center gap-x-4 justify-between w-full">
          <div class="w-full">
            <div *ngIf="imageUrl" class="border p-5 relative  rounded-md border-dashed border-bodydark1   dark:border-strokedark   ">
              <img   [src]="imageUrl" class="max-w-[500px] max-h-[500px] mx-auto">
              <button (click)="RemoveImage()"  class="absolute bg-black rounded-full top-0 left-0">
                <svg class="w-12" viewBox="0 0 54 54" fill="white" xmlns="http://www.w3.org/2000/svg">      <path d="M26.2929 20.2929L19.2071 13.2071C18.8166 12.8166 18.1834 12.8166 17.7929 13.2071L13.2071 17.7929C12.8166 18.1834 12.8166 18.8166 13.2071 19.2071L20.2929 26.2929C20.6834 26.6834 20.6834 27.3166 20.2929 27.7071L13.2071 34.7929C12.8166 35.1834 12.8166 35.8166 13.2071 36.2071L17.7929 40.7929C18.1834 41.1834 18.8166 41.1834 19.2071 40.7929L26.2929 33.7071C26.6834 33.3166 27.3166 33.3166 27.7071 33.7071L34.7929 40.7929C35.1834 41.1834 35.8166 41.1834 36.2071 40.7929L40.7929 36.2071C41.1834 35.8166 41.1834 35.1834 40.7929 34.7929L33.7071 27.7071C33.3166 27.3166 33.3166 26.6834 33.7071 26.2929L40.7929 19.2071C41.1834 18.8166 41.1834 18.1834 40.7929 17.7929L36.2071 13.2071C35.8166 12.8166 35.1834 12.8166 34.7929 13.2071L27.7071 20.2929C27.3166 20.6834 26.6834 20.6834 26.2929 20.2929Z"></path>    </svg>
              </button>
            </div>
            <div *ngIf="!imageUrl" class="min-h-[150px] border p-5 relative  cursor-pointer items-center justify-center  rounded-md border-dashed border-bodydark1 bg-gray hover:border-primary dark:border-strokedark dark:bg-graydark dark:hover:border-primary dz-clickable">
              <input type="file" (change)="UploadImage($event)" accept=".jpg,.svg,.png,.jpeg" formControlName="post_image" class="cursor-pointer relative block opacity-0 w-full h-full p-20 z-50">
              <div class="text-center text-black dark:text-whiter p-10 absolute top-0 right-0 left-0 m-auto">
                  <div  class="flex flex-col gap-y-6 items-center justify-center" >
                    <div class="flex h-15 w-15 items-center justify-center rounded-full bg-white text-black shadow-10 dark:bg-black dark:text-white">
                      <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1867_11682)">
                          <path d="M18.75 13.75C18.375 13.75 18.0313 14.0625 18.0313 14.4687V17.25C18.0313 17.5312 17.8125 17.75 17.5312 17.75H2.46875C2.1875 17.75 1.96875 17.5312 1.96875 17.25V14.4687C1.96875 14.0625 1.625 13.75 1.25 13.75C0.875 13.75 0.53125 14.0625 0.53125 14.4687V17.25C0.53125 18.3125 1.375 19.1562 2.4375 19.1562H17.5312C18.5938 19.1562 19.4375 18.3125 19.4375 17.25V14.4687C19.4688 14.0625 19.125 13.75 18.75 13.75Z" fill=""></path>
                          <path d="M5.96875 6.46875L9.3125 3.21875V14.0313C9.3125 14.4063 9.625 14.75 10.0312 14.75C10.4062 14.75 10.75 14.4375 10.75 14.0313V3.21875L14.0937 6.46875C14.2187 6.59375 14.4062 6.65625 14.5938 6.65625C14.7812 6.65625 14.9688 6.59375 15.0938 6.4375C15.375 6.15625 15.3438 5.71875 15.0938 5.4375L10.5 1.0625C10.2187 0.8125 9.78125 0.8125 9.53125 1.0625L4.96875 5.46875C4.6875 5.75 4.6875 6.1875 4.96875 6.46875C5.25 6.71875 5.6875 6.75 5.96875 6.46875Z" fill=""></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_1867_11682">
                            <rect width="20" height="20" fill="white"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <span class="font-medium text-black dark:text-white">
                      Drop files here to upload
                    </span>
                  </div>
              </div>
            </div>
          </div>
          <div *ngIf="photoUploaded!=null" class="photoUploaded">
            <img [src]="photoUploaded" class="w-[320px] rounded-md border border-bodydark">
          </div>
        </div>
  
      </div>
      <div class="lg:col-span-2">
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          خلاصه
        </label>
        <ckeditor [editor]="Editor" formControlName="post_summary" ></ckeditor>
      </div>
      <div class="lg:col-span-2">
        <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
          متن
        </label>
        <ckeditor [editor]="Editor" formControlName="post_discribtion" ></ckeditor>
      </div>
      <div *ngIf="isOpenShowMore" class="show-more grid lg:grid-cols-2 grid-cols-1 gap-5.5 mt-3 col-span-2">
        <div>
          <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
            لینک فایل صوتی
          </label>
          <input type="text" formControlName="audio_file_link"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        </div>
        <div>
          <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
            مسیر فایل صوتی
          </label>
          <input type="text" formControlName="audio_file_path"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        </div>
        <div>
          <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
            Id ویدیو آپارات
          </label>
          <input type="text" formControlName="aparat_video_id" class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        </div>
        <div>
          <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
            کد ویدیو آپارات
          </label>
          <input type="text" formControlName="aparat_video_code"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        </div>
        <div>
          <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
            لینک فایل ویدئویی
          </label>
          <input type="text" formControlName="video_file_link"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        </div>
        <div>
          <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
            مسیر فایل ویدئویی
          </label>
          <input type="text" formControlName="video_file_path"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        </div>
        <div>
          <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
            لینک فایل دیتا
          </label>
          <input type="text" formControlName="data_file_link"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        </div>
        <div>
          <label class="mb-3 block text-base font-semibold  text-graydark dark:text-white">
            مسر فایل دیتا
          </label>
          <input type="text" formControlName="data_file_path"  class="w-full dark:text-bodydark1 text-black rounded-lg border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary">
        </div>
      </div>
      <div class="lg:col-span-2">
        <div (click)="OpenShowMore()" class="lg:w-1/2 w-full hover:bg-gray cursor-pointer flex gap-x-3 items-center justify-center border border-body dark:border-whiten  text-black-2 dark:text-white font-medium text-lg mx-auto rounded-md py-2">
          <span *ngIf="!isOpenShowMore"> تنظیمات بیشتر</span>
          <span *ngIf="isOpenShowMore==true">  تنظیمات کمتر</span>
          <svg  [ngClass]="{ '!rotate-180 ': isOpenShowMore==true}" class="w-3 fill-black dark:fill-white" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.410765 0.910734C0.736202 0.585297 1.26384 0.585297 1.58928 0.910734L6.00002 5.32148L10.4108 0.910734C10.7362 0.585297 11.2638 0.585297 11.5893 0.910734C11.9147 1.23617 11.9147 1.76381 11.5893 2.08924L6.58928 7.08924C6.26384 7.41468 5.7362 7.41468 5.41077 7.08924L0.410765 2.08924C0.0853277 1.76381 0.0853277 1.23617 0.410765 0.910734Z" fill=""></path>
          </svg>
        </div>
      </div>
    </form>
    <div class="flex justify-end p-6.5 items-center gap-x-2">

      <button [disabled]="this.postForm.invalid "  (click)="onSubmit()" class="flex disabled:bg-secondary justify-center rounded bg-primary py-2 px-5 font-medium text-gray">افزودن</button>
      <a [routerLink]="['/blogs']" class="flex justify-center rounded bg-bodydark py-2 px-5 font-medium text-black-2">بازگشت</a>
    </div>
  </div>
  